ul {
  padding: 0;
  margin: 0;
}
.condition {
  text-transform: capitalize;
}
.wheather-list {
  list-style-type: none;
}
.fa-solid {
  font-size: 80px;
  color: gold;
}
.links {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.links:focus {
  color: cornflowerblue;
}
.links:hover {
  color: rgb(0, 0, 0);
}
.weather-app {
  max-width: 94%;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 20px;
  border: 1px solid rgb(210, 239, 246);
  border-radius: 10px;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.btn-outline-success {
  border-color: black;
  color: black;
  background-color: aliceblue;
}
.btn-outline-success:hover {
  background-color: gold;
  border-color: aliceblue;
  color: black;
}
.btn-outline-success:focus {
  border-color: black;
  color: black;
  background-color: aliceblue;
}
.about {
  max-width: 700px;
  margin: 0 auto;
}
.forecast-style {
  text-align: center;
}
.weather-forecats-temperature-max {
  color: black;
  font-size: 15px;
}
.weather-forecats-temperature-min {
  color: grey;
  font-size: 14px;
}
.icon {
  display: block;
  margin: 0 auto;
}
