ul {
  padding: 0;
  margin: 0;
}
li {
  text-transform: capitalize;
}
.wheather-list {
  list-style-type: none;
}
.fa-solid {
  font-size: 80px;
  color: gold;
}
.weather-app {
  max-width: 94%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid rgb(210, 239, 246);
  border-radius: 10px;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.btn-outline-success {
  border-color: black;
  color: black;
  background-color: aliceblue;
}
.btn-outline-success:hover {
  background-color: gold;
  border-color: aliceblue;
  color: black;
}
.about {
  max-width: 700px;
  margin: 0 auto;
}
